
body {
    background:#f8f9fa;
}


.preview {

    min-height:350px;

    border:1px dashed #aaa;

    border-radius:10px;

    padding:20px;

    background:white;

}


.hero-preview {

    min-height:250px;

    display:flex;

    align-items:center;

    padding:40px;

    border-radius:10px;

    background:linear-gradient(
        180deg,
        #4992f1 0%,
        #bed9f6 100%
    );

}


.hero-preview h1 {

    font-size:2.5rem;

    font-weight:bold;

}



.preview img {

    max-width:100%;

    border-radius:8px;

}



.stat-number {

    font-size:2rem;

    font-weight:bold;

}

